@import "tailwindcss";

@theme { 
    --color-gq-violet: #3D348B; /* deep purple */
    --color-gq-violet_hover: #5A56BC; /* light deep purple */
    
    --color-gq-purple: #7678ED; /* slate blue */
    --color-gq-purple_hover: #8AA6F6; /* light slate blue */
   
    --color-gq-blue: #9ED3FF; /* persimmon */
    --color-gq-blue_hover: #CFE9FF; /* light persimmon */
    
    --color-jl-yellow: #F7B801; /* yellow */
    --color-jl-yellow_hover: #FBDC80; /* light yellow */
   
    --color-jl-orange: #F18701; /* tangerine */
    --color-jl-orange_hover: #F4A001; /* light tangerine */
   
    --color-jl-red: #F94949; /* red */
    --color-jl-red_hover: #F56825; /* light red */
}